.header {
    height: 100px;
    width: 100%;
    background-color: rgb(173, 109, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: rgb(51, 31, 5);
    }
}