:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color: rgba(174, 174, 174, 0.231);
  border-radius: 10px;
  padding: 24px;
  box-sizing: border-box;

  .title {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    background-color: rgba(155, 155, 155, 0.2);

    @media (max-width: 650px) {
      display: none;
    }

    div {
      display: flex;
      align-items: stretch;
      justify-content: start;
      height: 35px;

      p {
        padding-top: 5px;
        font-weight: 500;
      }
    }

    .id {
      width: 20px;
    }

    .description {
      min-width: 200px;
      width: 40%;
    }

    .start-date {
      min-width: 50px;
      width: 15%;
    }

    .deadline {
      min-width: 50px;
      width: 15%;
    }

    .status {
      width: 50px;
    }

    .action {
      width: 50px;
      opacity: 0;
    }
  }

  .task-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 651px) {
      :nth-child(2n) {
        background-color: rgba(155, 155, 155, 0.2);
      }
    }
  }
}
