<div class="task-container">
  <div class="id">
    <p>{{ index + 1 }}</p>
  </div>
  <div class="description">
    <p>{{ task.text }}</p>
  </div>
  <div class="start-date">
    <p>{{ task.startDate | dateTransform: today }}</p>
  </div>
  <div class="deadline">
    <p>{{ task.deadline | date: "dd/MM/yyyy" }}</p>
  </div>
  <div class="status-container">
    <div
    appStatusColor
    [status]="task.status"
    #tooltip="matTooltip"
    [matTooltip]="task.status | statusTextTransform"
    matTooltipPosition="above"
    matTooltipHideDelay="200"
    (click)="openDialog()"
    ></div>
  </div>
  <div class="action">
    <button mat-icon-button color="primary" (click)="showEditForm = !showEditForm">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="showEditForm" [@todoItem] class="add-task">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Описание задачи</mat-label>
    <input matInput type="text" [(ngModel)]="taskValue" />
    <button matSuffix mat-icon-button (click)="editTask(task.id)">
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
</div>
