<form class="sing-up-form" [formGroup]="singUpControl">
  <h1>Выполните регистрацию</h1>
  <div>
    <mat-form-field class="fn-input sing-up-input" appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="fullname">
      <mat-error *ngIf="singUpControl.get('fullname')hasError('required')">
        Это поле <strong>Обязательно!</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="ln-input sing-up-input" appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="fullname">
      <mat-error *ngIf="singUpControl.get('fullname')hasError('required')">
        Это поле <strong> Обязательно! </strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="email-input sing-up-input" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="!singUpControl.get('email').hasError('required') && singUpControl.get('email')hasError('email')">
        Неправильний формат email
      </mat-error>
      <mat-error *ngIf="singUpControl.get('email').hasError('required')">
        Email адрес <strong>Обязателен!</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="pass-input sing-up-input" appearance="fill">
      <mat-label>Пароль</mat-label>
      <input type="password" matInput formControlName="pass" placeholder="password">
      <mat-error *ngIf="singUpControl.get('pass')hasError('minLength') || singUpControl.get('pass')hasError('required')">
        Пароль должен содержать не менее <strong> 6 </strong> символов! 
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="conf-pass-input sing-up-input" appearance="fill">
      <mat-label>Повторите пароль</mat-label>
      <input type="password" matInput formControlName="confPass" placeholder="password">
      <mat-error *ngIf="singUpControl.get('confPass')hasError('minLength') || singUpControl.get('confPass')hasError('required')">
        Пароль должен содержать не менее <strong> 6 </strong> символов! 
      </mat-error>
    </mat-form-field>
  </div>

</form>