.sing-up-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5px solid black;
    div {
        display: block;
        .sing-up-input {
            padding: 10px;
        }
    }
}
    


