form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .inputs {
    display: flex;
    flex-direction: column;

    .add-task-input {
      min-width: 400px;
      width: fit-content;
      margin: 0 15px;

      @media (max-width: 500px) {
        min-width: 280px;
      }
    }
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;

  button {
    margin: 0 10px;
  }
}
