<div class="content">
  <form class="sign-in-form" [formGroup]="signInForm">
    <h1>Выполните Вход</h1>

    <div>
      <mat-form-field class="email-input sign-in-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="!signInForm.get('email').hasError('required') && signInForm.get('email').hasError('email')">
          Неправильний формат email
        </mat-error>
        <mat-error *ngIf="signInForm.get('email').hasError('required')">
          Email адрес <strong>Обязателен!</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="pass-input sign-in-input" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput formControlName="pass" placeholder="password">
        <mat-error *ngIf="signInForm.get('pass').hasError('minlength') || signInForm.get('pass').hasError('required')">
          Пароль должен содержать не менее <strong> 6 </strong> символов!
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="action">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="signInForm.invalid">Войти</button>
  </div>
</div>